<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Comentarios
body
	h1 Comentarios
	// ESTO ES UN COMENTARIO VISIBLE EN HTML
	//-Esto es un comentario no visible en html

	//
		Esto es
		un comentario
		de varias 
		lineas