<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Condicionales
body
	h1 Condicionales
	- var autorizacion = false
	article
		if autorizacion
			img(src="imgs/images.jpg")
		else
			img(src="imgs/Fail.PNG")