extends inc/layout.pug

block title
	title Herencia ren PUG
block title
	title  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique iusto excepturi molestias, hic, minus id ducimus placeat atque, at eligendi unde dolores reiciendis provident aspernatur laudantium optio magni accusantium.
block content
 h1 Lorem
 p Lorem ipsum dolor sit amet.